.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.container {
  position: fixed;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 45%;
  background: white;
  z-index: 9999;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Wrapper{
  position:relative;
  width: 75%;
  float:left;
}

.Left {
  margin-bottom:5px;
  float:left;
  clear:left;
}

.Right {
  margin-bottom:5px;
  float:right;

}

.Display-title {
  position:relative;
}

.Display {
  position:relative;
}

.Display label {
  float:left;
}

react-datepicker-wrapper {
  float:right;
}

.datePicker {
  width:25%;
}
